<h1 class="heading">escribe<span>nos</span></h1>

<div class="row">
  <form action="">
    <input type="text" placeholder="Nombre" class="box" />
    <input type="email" placeholder="Email" class="box" />
    <input type="number" placeholder="Numero Celular" class="box" />
    <textarea
      name=""
      class="box"
      placeholder="Mensaje"
      id=""
      cols="30"
      rows="10"
    ></textarea>
    <button type="submit" class="btn">enviar mensaje</button>
  </form>

  <div class="image">
    <img src="../../../assets/images/home-bg2.jpeg" alt="" />
  </div>
</div>
