<h1 class="heading">ultimos <span>diseños</span></h1>

<div class="box-container">
  <div class="box">
    <span class="discount">-10%</span>
    <div class="image">
      <img src="../../../assets/images/img-1.webp" alt="" />
      <div class="icons">
        <a href="#">
          <fa-icon [icon]="faHeart" ></fa-icon>
        </a>
        <a href="#" class="cart-btn">
          agregar
          <fa-icon [icon]="faShoppingCart" ></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faEye" ></fa-icon>
        </a>
      </div>
    </div>
    <div class="content">
      <h3>boceto</h3>
      <div class="price">$12.990 <span>$15.990</span></div>
    </div>
  </div>

  <div class="box">
    <span class="discount">-15%</span>
    <div class="image">
      <img src="../../../assets/images/img-2.webp" alt="" />
      <div class="icons">
        <a href="#">
          <fa-icon [icon]="faHeart" ></fa-icon>
        </a>
        <a href="#" class="cart-btn"
          >agregar
          <fa-icon [icon]="faShoppingCart" ></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faEye" ></fa-icon>
        </a>
      </div>
    </div>
    <div class="content">
      <h3>boceto</h3>
      <div class="price">$12.990 <span>$15.990</span></div>
    </div>
  </div>

  <div class="box">
    <span class="discount">-5%</span>
    <div class="image">
      <img src="../../../assets/images/img-3.webp" alt="" />
      <div class="icons">
        <a href="#">
          <fa-icon [icon]="faHeart" ></fa-icon>
        </a>
        <a href="#" class="cart-btn"
          >agregar
          <fa-icon [icon]="faShoppingCart" ></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faEye" ></fa-icon>
        </a>
      </div>
    </div>
    <div class="content">
      <h3>boceto</h3>
      <div class="price">$12.990 <span>$15.990</span></div>
    </div>
  </div>

  <div class="box">
    <span class="discount">-20%</span>
    <div class="image">
      <img src="../../../assets/images/img-4.webp" alt="" />
      <div class="icons">
        <a href="#">
          <fa-icon [icon]="faHeart" ></fa-icon>
        </a>
        <a href="#" class="cart-btn"
          >agregar
          <fa-icon [icon]="faShoppingCart" ></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faEye" ></fa-icon>
        </a>
      </div>
    </div>
    <div class="content">
      <h3>boceto</h3>
      <div class="price">$12.990 <span>$15.990</span></div>
    </div>
  </div>

  <div class="box">
    <span class="discount">-17%</span>
    <div class="image">
      <img src="../../../assets/images/img-5.webp" alt="" />
      <div class="icons">
        <a href="#">
          <fa-icon [icon]="faHeart" ></fa-icon>
        </a>
        <a href="#" class="cart-btn"
          >agregar
          <fa-icon [icon]="faShoppingCart" ></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faEye" ></fa-icon>
        </a>
      </div>
    </div>
    <div class="content">
      <h3>boceto</h3>
      <div class="price">$12.990 <span>$15.990</span></div>
    </div>
  </div>

  <div class="box">
    <span class="discount">-3%</span>
    <div class="image">
      <img src="../../../assets/images/img-6.webp" alt="" />
      <div class="icons">
        <a href="#">
          <fa-icon [icon]="faHeart" ></fa-icon>
        </a>
        <a href="#" class="cart-btn"
          >agregar
          <fa-icon [icon]="faShoppingCart" ></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faEye" ></fa-icon>
        </a>
      </div>
    </div>
    <div class="content">
      <h3>boceto</h3>
      <div class="price">$12.990 <span>$15.990</span></div>
    </div>
  </div>

  <div class="box">
    <span class="discount">-18%</span>
    <div class="image">
      <img src="../../../assets/images/img-7.webp" alt="" />
      <div class="icons">
        <a href="#">
          <fa-icon [icon]="faHeart" ></fa-icon>
        </a>
        <a href="#" class="cart-btn"
          >agregar
          <fa-icon [icon]="faShoppingCart" ></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faEye" ></fa-icon>
        </a>
      </div>
    </div>
    <div class="content">
      <h3>boceto</h3>
      <div class="price">$12.990 <span>$15.990</span></div>
    </div>
  </div>

  <div class="box">
    <span class="discount">-10%</span>
    <div class="image">
      <img src="../../../assets/images/img-8.webp" alt="" />
      <div class="icons">
        <a href="#">
          <fa-icon [icon]="faHeart" ></fa-icon>
        </a>
        <a href="#" class="cart-btn"
          >agregar
          <fa-icon [icon]="faShoppingCart" ></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faEye" ></fa-icon>
        </a>
      </div>
    </div>
    <div class="content">
      <h3>boceto</h3>
      <div class="price">$12.990 <span>$15.990</span></div>
    </div>
  </div>

  <div class="box">
    <span class="discount">-5%</span>
    <div class="image">
      <img src="../../../assets/images/img-9.webp" alt="" />
      <div class="icons">
        <a href="#">
          <fa-icon [icon]="faHeart" ></fa-icon>
        </a>
        <a href="#" class="cart-btn"
          >agregar
          <fa-icon [icon]="faShoppingCart" ></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faEye" ></fa-icon>
        </a>
      </div>
    </div>
    <div class="content">
      <h3>boceto</h3>
      <div class="price">$12.990 <span>$15.990</span></div>
    </div>
  </div>
</div>
