<h1 class="heading"><span>acerca</span> de</h1>

<div class="row">
  <div class="video-container">
    <video
      src="../../../assets/images/about-vid.mp4"
      muted
      autoplay
      loop
    ></video>
    <h3>gran diseñador de logos</h3>
  </div>

  <div class="content">
    <h3>¿por qué elegirnos?</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem cumque sit
      nemo pariatur corporis perspiciatis aspernatur a ullam repudiandae autem
      asperiores quibusdam omnis commodi alias repellat illum, unde optio
      temporibus.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium ea
      est commodi incidunt magni quia molestias perspiciatis, unde repudiandae
      quidem.
    </p>
    <a href="#" class="btn">saber más</a>
  </div>
</div>
