section {
  position: fixed;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 11;
  background-color: var(--blackPanter);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
}

section .contentBox {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  min-width: 30vw;
}

section .contentBox .step {
  background-color: var(--smoke);
  position: relative;
  padding: 1.5vw;
  border-radius: 50%;
  font-weight: bold;
  z-index: 1;
  bottom: 3vh;
  right: 1.5vw;
}

section .contentBox .step.right {
  left: 28vw;
}

section .contentBox .step.proccesing {
  background-color: var(--golden);
  padding: 1.6vw;
  right: 1.7vw;
}

section .contentBox .step.proccesing fa-icon {
  display: inline-block;
  animation: spin 1s infinite linear;
}

section .contentBox .border {
  width: 30vw;
  height: 1vh;
  position: relative;
  border-bottom-left-radius: 5vh;
  border-top-right-radius: 5vh;
  background-color: var(--white);
}

section .contentBox .border.invert {
  border-radius: 0;
  border-bottom-right-radius: 5vh;
  border-top-left-radius: 5vh;
}

section .contentBox .border.activeRight {
  animation: gradientRight 1s infinite linear;
}

section .contentBox .border::before {
  content: "";
  width: 1vh;
  height: 5vh;
  background-color: var(--white);
  position: relative;
  display: flex;
  bottom: 5vh;
}

section .contentBox .border.invert::before {
  border-top-left-radius: 5vh;
  bottom: 0;
}

section .contentBox .border.activeRight::before,
section .contentBox .border.activeRight::after {
  animation: gradientBottom 1s infinite linear;
}

section .contentBox .border::after {
  content: "";
  width: 1vh;
  height: 5vh;
  background-color: var(--white);
  position: relative;
  display: flex;
  bottom: 5vh;
  margin-left: 29.6vw;
  border-top-right-radius: 5vh;
}

section .contentBox .border.invert::after {
  bottom: 10vh;
}

/* !!!keyframes!!! */

@keyframes gradientBottom {
  0% {
    background: var(--golden);
  }
  25% {
    background: var(--golden);
  }
  50% {
    background: linear-gradient(
      to bottom,
      var(--goldenLigth),
      var(--golden),
      var(--golden)
    );
  }
  75% {
    background: linear-gradient(
      to bottom,
      var(--goldenLigth),
      var(--goldenLigth),
      var(--golden)
    );
  }
  100% {
    background: linear-gradient(
      to bottom,
      var(--goldenLigth),
      var(--goldenLigth),
      var(--goldenLigth)
    );
  }
}

@keyframes gradientRight {
  0% {
    background: linear-gradient(
      to right,
      var(--goldenLigth),
      var(--golden),
      var(--golden)
    );
  }
  25% {
    background: linear-gradient(
      to right,
      var(--goldenLigth),
      var(--goldenLigth),
      var(--golden)
    );
  }
  50% {
    background: linear-gradient(
      to right,
      var(--goldenLigth),
      var(--goldenLigth),
      var(--goldenLigth)
    );
  }
  75% {
    background: linear-gradient(
      to right,
      var(--golden),
      var(--goldenLigth),
      var(--goldenLigth)
    );
  }
  100% {
    background: linear-gradient(
      to right,
      var(--golden),
      var(--golden),
      var(--goldenLigth)
    );
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
