<section>
  <div class="step">
    1
    <!-- <span *ngIf="expression">1</span>
    <fa-icon [icon]="faCircleCheck" aria-hidden="true" *ngIf="expression"></fa-icon> 
    <fa-icon [icon]="faSpinner" aria-hidden="true" *ngIf="expression"></fa-icon>-->
  </div>
  <div class="border activeRight"></div>
  <div class="step">2</div>
  <div class="border"></div>
  <div class="step">3</div>
  <div class="border activeRight"></div>
  <div class="step">4</div>
  <div class="border"></div>
  <div class="step">5</div>
</section>
