.smmok {
  position: relative;
  background-color: rgba(204, 204, 204, 0.5);
  width: 70%;
  height: 100vh;
  left: 0;
  cursor: pointer;
}

.smmok.active {
  position: absolute;
  width: 4%;
  height: 8%;
  margin-top: 80px;
  margin-left: 4%;
  z-index: 9;
  background-color: red;
}

.order__list {
  position: relative;
  background-color: var(--white);
  width: 40%;
  height: 100vh;
  right: 0;
  display: flex;
  padding: 100px 20px 0;
}

.order__list.active {
  width: 100vw;
}

.order__list aside {
  width: 100%;
  position: relative;
  height: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.order__list.active aside {
  min-width: 40%;
  width: 40%;
  left: 0;
}

.order__list aside .heading {
  color: var(--gray);
  font-size: 1rem;
}

.order__list aside .heading span {
  color: var(--blackPanter);
}

.order__list aside .containerOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.order__list aside .containerOrder .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 20px 0;
  width: 100%;
  height: 100%;
}

aside .containerOrder .container .drop {
  position: relative;
  width: 50%;
  height: 150px;
  box-shadow: inset 10px 10px 10px rgba(10, 10, 10, 0.05),
    12px 17px 10px rgba(10, 10, 10, 0.05), 12px 15px 15px rgba(10, 10, 10, 0.05),
    inset -10px -10px 12px rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .containerOrder .container .drop {
  border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}
/*
aside .containerOrder .container .drop:nth-child(2) {
  border-radius: 73% 27% 59% 41% / 57% 59% 41% 43%;
}

aside .containerOrder .container .drop:nth-child(3) {
  border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
} */

aside .containerOrder .container .drop:hover {
  border-radius: 50%;
}

aside .containerOrder .container .drop::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 30%;
  width: 10%;
  height: 10%;
  background: #fff;
  border-radius: 50%;
  opacity: 0.9;
}

aside .containerOrder .container .drop::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 30%;
  width: 5%;
  height: 5%;
  background: #fff;
  border-radius: 50%;
  opacity: 0.9;
  transition: 500ms;
}

aside .containerOrder .container .drop:hover::after {
  border-radius: 50%;
  transform: translateX(100%);
}

aside .finalizarPedido {
  position: relative;
  margin: 5% 0;
}

aside .finalizarPedido .btn {
  width: 100%;
}

.containerOrder .container .drop .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  gap: 15px;
}

.container .drop .content h2 {
  position: relative;
  width: 20%;
  height: 25px;
  background: #eff0f4;
  border-radius: 50%;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
    inset -2px -5px 10px rgba(255, 255, 255, 1),
    15px 15px 10px rgba(0, 0, 0, 0.05), 15px 10px 15px rgba(0, 0, 0, 0.025);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--golden);
}

.container .drop .content a {
  font-size: 1rem;
  padding: 0.9rem 2rem;
  opacity: 0.5;
}

.container .drop .content a:hover {
  opacity: 1;
}

.order__list section {
  position: relative;
  width: 100%;
}

.order__list section h3 {
  font-size: 2rem;
  color: var(--gray);
}

.order__list section h3 span {
  color: var(--blackPanter);
}

.orderForm form {
  max-width: 90rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 1.5rem;
  margin: 0 auto;
}

.orderForm form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.orderForm form .inputBox .input {
  width: 49%;
}

.orderForm form .inputBox .input span {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}

.orderForm form .inputBox .input input,
.orderForm form .inputBox .input textarea {
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}

.orderForm form .inputBox .input input:focus,
.orderForm form .inputBox .input textarea:focus {
  border: 0.1rem solid var(--green);
}

.orderForm form .inputBox .input textarea {
  height: 20rem;
  resize: none;
}

.orderForm form .btn {
  margin-top: 0;
}
