.icons {
  background: #000;
  border: 0.1rem solid var(--black);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
  border-radius: 1rem;
}

.icons img {
  height: 5rem;
  margin-right: 2rem;
  filter: invert(1);
}

.icons h3 {
  color: var(--white);
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.icons span {
  color: var(--smoke);
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .icons h3 {
    font-size: 2rem;
  }

  .icons span {
    font-size: 1.7rem;
  }
}
