<div class="icons">
  <img src="../../../assets/images/icon-1.png" alt="" />
  <div class="info">
    <h3>domicilio gratis</h3>
    <span>en todos los pedidos</span>
  </div>
</div>

<div class="icons">
  <img src="../../../assets/images/icon-2.png" alt="" />
  <div class="info">
    <h3>10 days returns</h3>
    <span>moneyback guarantee</span>
  </div>
</div>

<div class="icons">
  <img src="../../../assets/images/icon-3.png" alt="" />
  <div class="info">
    <h3>ofertas y cupones</h3>
    <span>en todos los pedidos</span>
  </div>
</div>

<div class="icons">
  <img src="../../../assets/images/icon-4.png" alt="" />
  <div class="info">
    <h3>pagos seguros</h3>
    <span>transferencias bancarias y efectivo</span>
  </div>
</div>
