<div class="smmok" (click)="appComponent.getOutUser()"></div>
<div class="user__list">
  <div class="logOut" (click)="appComponent.logOut()">
    <span class="btn">Cerrar Sesión</span>
  </div>

  <aside>
    <div class="heading">
      <h3>
        Menú de <span> {{ user?.nombres || user?.numeroTelefono }}</span>
      </h3>
    </div>

    <div class="listDiv">
      <ul class="container">
        <li class="box">
          <div class="content">
            <fa-icon
              [icon]="faAddressCard"
              aria-hidden="true"
              class="icon"
            ></fa-icon>
            <div class="text">
              <h3>Perfil</h3>
              <p>Lorem ipsum dolor.</p>
            </div>
          </div>
        </li>
        <li class="box">
          <div class="content">
            <fa-icon
              [icon]="faFileInvoiceDollar"
              aria-hidden="true"
              class="icon"
            ></fa-icon>
            <div class="text">
              <h3>Pedidos Realizados</h3>
              <p>Lorem ipsum dolor.</p>
            </div>
          </div>
        </li>
        <li class="box">
          <div class="content">
            <fa-icon
              [icon]="faCircleInfo"
              aria-hidden="true"
              class="icon"
            ></fa-icon>
            <div class="text">
              <h3>Ayuda</h3>
              <p>Lorem ipsum dolor.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </aside>
</div>
