<h1 class="heading">reseñas <span>de clientes </span></h1>

<div class="box-container">
  <div class="box">
    <div class="stars">
      <i class="fa-star">
        <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
      </i>
      <i class="fa-star">
        <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
      </i>
      <i class="fa-star">
        <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
      </i>
      <i class="fa-star">
        <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
      </i>
      <i class="fa-star">
        <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
      </i>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
      asperiores laboriosam praesentium enim maiores? Ad repellat voluptates
      alias facere repudiandae dolor accusamus enim ut odit, aliquam nesciunt
      eaque nulla dignissimos.
    </p>
    <div class="user">
      <img src="../../../assets/images/pic-1.webp" alt="" />
      <div class="user-info">
        <h3>john deo</h3>
        <span>happy customer</span>
      </div>
    </div>
    <span class="fa-quote-right">
      <fa-icon [icon]="faQuoteRight" aria-hidden="true"></fa-icon>
    </span>
  </div>

  <div class="box">
    <div class="stars">
      <i class="fa-star">
        <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
      </i>
      <i class="fa-star">
        <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
      </i>
      <i class="fa-star">
        <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
      </i>
      <i class="fa-star">
        <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
      </i>
      <i class="fa-star">
        <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
      </i>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
      asperiores laboriosam praesentium enim maiores? Ad repellat voluptates
      alias facere repudiandae dolor accusamus enim ut odit, aliquam nesciunt
      eaque nulla dignissimos.
    </p>
    <div class="user">
      <img src="../../../assets/images/pic-2.webp" alt="" />
      <div class="user-info">
        <h3>john deo</h3>
        <span>happy customer</span>
      </div>
    </div>
    <span class="fa-quote-right">
      <fa-icon [icon]="faQuoteRight" aria-hidden="true"></fa-icon>
    </span>
  </div>

  <div class="box">
    <div class="stars">
      <i class="fa-star">
        <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
      </i>
      <i class="fa-star">
        <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
      </i>
      <i class="fa-star">
        <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
      </i>
      <i class="fa-star">
        <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
      </i>
      <i class="fa-star">
        <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
      </i>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
      asperiores laboriosam praesentium enim maiores? Ad repellat voluptates
      alias facere repudiandae dolor accusamus enim ut odit, aliquam nesciunt
      eaque nulla dignissimos.
    </p>
    <div class="user">
      <img src="../../../assets/images/pic-3.webp" alt="" />
      <div class="user-info">
        <h3>john deo</h3>
        <span>happy customer</span>
      </div>
    </div>
    <span class="fa-quote-right">
      <fa-icon [icon]="faQuoteRight" aria-hidden="true"></fa-icon>
    </span>
  </div>
</div>
