<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.9)"
  size="large"
  color="#fff"
  [fullScreen]="true"
>
  <p style="color: white; font-size: 2rem">{{ paragraphSpinner }}</p>
</ngx-spinner>

<!-- !!! header section starts  !!! -->
<header>
  <input placeholder="" title="hide" type="checkbox" name="" id="toggler" />
  <label for="toggler">
    <fa-icon [icon]="faBars" aria-hidden="true" class="fa-bars"></fa-icon>
  </label>

  <a href="#" class="logo">creaTuLogo<span>.</span></a>

  <nav class="navbar">
    <a [href]="'#home'">inicio</a>
    <a [href]="'#about'">Nosotros</a>
    <a [href]="'#products'">Diseños</a>
    <a [href]="'#review'">Reseñas</a>
    <a [href]="'#contact'">Contáctanos</a>
  </nav>

  <div class="icons">
    <fa-icon [icon]="faHeart" aria-hidden="true"></fa-icon>
    <fa-icon
      [icon]="faShoppingCart"
      aria-hidden="true"
      (click)="getOrder()"
    ></fa-icon>
    <fa-icon [icon]="faUser" aria-hidden="true" (click)="getUser()"></fa-icon>
  </div>
</header>
<!-- !!! header section ends !!! -->

<!-- !!! order section starts !!! -->
<section class="order" #order>
  <app-order [user]="user"></app-order>
</section>
<!-- !!! order section ends !!! -->

<!-- !!! user section starts !!! -->
<section class="user" #userInfo>
  <app-user [user]="user"></app-user>
</section>
<!-- !!! user section ends !!! -->

<!-- !!! home section starts  !!! -->
<section class="home" id="home">
  <app-inicio></app-inicio>
</section>
<!-- !!! home section ends  !!! -->

<!-- !!! about section starts  !!! -->
<section class="about" id="about">
  <app-about></app-about>
</section>
<!-- !!! about section ends  !!! -->

<!-- !!! icons section starts  !!! -->
<section class="icons-container">
  <app-icons-container></app-icons-container>
</section>
<!-- !!! icons section ends  !!! -->

<!-- !!! prodcuts section starts  !!! -->
<section class="products" id="products">
  <app-products-list [products]="products"></app-products-list>
</section>
<!-- !!! prodcuts section ends  !!! -->

<!-- !!! review section starts  !!! -->
<section class="review" id="review">
  <app-review></app-review>
</section>

<!-- !!! contact section starts  !!! -->
<section class="contact" id="contact">
  <app-contact></app-contact>
</section>
<!-- !!! contact section ends  !!! -->

<!-- !!! footer section starts  !!! -->
<footer class="footer">
  <div class="box-container">
    <div class="box">
      <h3>enlaces rápidos</h3>
      <a href="#home">home</a>
      <a href="#about">about</a>
      <a href="#products">products</a>
      <a href="#review">review</a>
      <a href="#contact">contact</a>
    </div>

    <div class="box">
      <h3>enlaces extras</h3>
      <a href="#">mi cuenta</a>
      <a href="#">mi pedido</a>
      <a href="#">mis favoritos</a>
    </div>

    <div class="box">
      <h3>localización</h3>
      <a href="#">cali</a>
      <a href="#">yumbo</a>
      <a href="#">jamundí</a>
      <a href="#">candelaria</a>
    </div>

    <div class="box">
      <h3>info contacto</h3>
      <a href="#">(+57) 314-852-6394</a>
      <a href="#">jhonleninbarrientos53@gmail.com</a>
      <a href="#">cali, Colombia - Cra. 15</a>
      <img src="../../../assets/images/payment.png" alt="" />
    </div>
  </div>

  <div class="credit">
    creado por
    <a href="https://code-pro.netlify.app/" target="_blank">[ code : POR ]</a> |
    todos los derechos reservados.
  </div>
</footer>
<!-- !!! footer section ends !!! -->

<div>
  <router-outlet></router-outlet>
</div>
