<div class="smmok" #smmok (click)="getOutOrder()">
  <div class="closeSection">
    <fa-icon [icon]="faXmark" aria-hidden="true"></fa-icon>
  </div>
</div>
<div class="order__list" #order__list>
  <aside>
    <div class="heading">
      <h3>
        Pedido de
        <span> {{ user?.nombres || user?.numeroTelefono || "Anónimo" }}</span>
      </h3>
    </div>

    <div class="containerOrder">
      <div class="container" #container>
        <div
          class="drop"
          *ngFor="let pedido of appComponent.pedidos; let i = index"
        >
          <div class="content">
            <h2>{{ i + 1 }}</h2>
            <p>
              {{ pedido.img || "Nombre indefinido" }}
            </p>
            <p>{{ pedido._id }}</p>
            <a [routerLink]="['products-details', pedido._id]" class="btn"
              >Detalles</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="finalizarPedido" *ngIf="!formBoolean">
      <button class="btn" type="button" (click)="getFinishOrder()">
        Finalizar Pedido
      </button>
    </div>
  </aside>
  <section class="orderForm" *ngIf="formBoolean">
    <div class="heading">
      <h3><span>Formulario informativo de </span>quien recibe el pedido</h3>
    </div>

    <form
      name="finishOrder"
      [formGroup]="orderForm"
      (ngSubmit)="orderSubmit(orderForm)"
    >
      <div class="inputBox">
        <div class="input">
          <span>nombre</span>
          <input
            name="nombre"
            formControlName="nombre"
            type="text"
            placeholder="Ingresar Nombre"
          />
        </div>
        <div class="input">
          <span>apellido</span>
          <input
            name="apellido"
            formControlName="apellido"
            type="text"
            placeholder="Ingresar Apellido"
          />
        </div>
      </div>
      <div class="inputBox">
        <div class="input">
          <span>correo electrónico</span>
          <input
            type="email"
            placeholder="ejemplo@ejemplo.com"
            name="email"
            formControlName="email"
          />
        </div>
        <div class="input">
          <span>día y hora</span>
          <input
            type="datetime-local"
            name="fechaHora"
            formControlName="fechaHora"
            value=""
          />
        </div>
      </div>
      <div class="inputBox">
        <div class="input">
          <span>numero teléfono</span>
          <input
            type="number"
            placeholder="Celular"
            name="celular"
            formControlName="celular"
          />
        </div>
        <div class="input">
          <span>dirección exacta</span>
          <input
            type="text"
            placeholder="Ingresa Dirección de Residencia"
            name="direccion"
            formControlName="direccion"
          />
        </div>
      </div>
      <div class="inputBox">
        <div class="input">
          <span>detalles de ubicación</span>
          <textarea
            name=""
            placeholder="Detalles para una mejor ubicación, Apartamento, Casa, Piso, Etc."
            cols="30"
            rows="10"
            name="detallesUbicacion"
            formControlName="detallesUbicacion"
          ></textarea>
        </div>
        <div class="input">
          <span>detalles extra del pedido</span>
          <textarea
            name=""
            placeholder="ingresar detalles"
            cols="30"
            rows="10"
            name="detallesPedido"
            formControlName="detallesPedido"
          ></textarea>
        </div>
      </div>

      <div class="input">
        <button type="submit" class="btn">Ordenar ya!</button>
      </div>
    </form>
  </section>
</div>
