
.content {
  max-width: 50rem;
}

.content h3 {
  font-size: 6rem;
  color: #333;
}

.content span {
  font-size: 3.5rem;
  color: var(--pink);
  padding: 1rem 0;
  line-height: 1.5;
}

.content p {
  font-size: 1.5rem;
  color: #999;
  padding: 1rem 0;
  line-height: 1.5;
}
